:root {
  --light-grey: #f2f2f2;
  --body-color: #333333;
  --dark-black: #111111;
  --grey: #6b6b6b;
  --background-black: #181818;
  --app-blue: #2892D7;
  --bright-blue: #56B0CD;
  /**
  Blues: 3D9EF7, #2FBFEE, #6CD1F6, 6DBEE4, #2BAFE9, #68B9C7, 89D7EC, 56B0CD, #2AA8E4, #33AAD9
  */
  /* 
  Greys: #5F739B, #A8B3CF, #706E7B
  */
}

.theme-grey {
  background-color: var(--light-grey);
  color: var(--dark-black);
}

.theme-dark {
  background-color: var(--background-black);
  color: #ffffff;
}

.p-t-60 {
  padding-top: 60px;
}

.p-t-120 {
  padding-top: 120px;
}

.p-b-60 {
  padding-bottom: 60px;
}

.p-b-120 {
  padding-bottom: 120px;
}

section {
  padding-top: 120px;
  padding-bottom: 60px;
}

.section-title {
  font-size: 48px;
  font-weight: 600;
  text-transform: capitalize;
}

.section-strapline {
  font-size: 24px;
  color: var(--grey);
}

.carousel {
  .flickity-prev-next-button {
    display: none;
  }
  &:hover {
    .flickity-button,
    .flickity-prev-next-button,
    .flickity-prev-next-button.next,
    .flickity-prev-next-button.previous {
      display: block;
      background-color: rgba(214, 214, 214, 0.3);
      color: #888;
      &:hover {
        background-color: rgba(214, 214, 214, 0.66);
      }
      &:disabled {
        display: none;
      }
    }
  }
  .flickity-page-dots {
    bottom: -8px;
    .dot {
      height: 2px;
      width: 40px;
      margin-right: 4px;
      border-radius: 0;
    }
  }
}
